<h1>TV Series</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Channel</th>
      <th>Seasons</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ series[0]?.id }}</td>
      <td>{{ series[0]?.name }}</td>
      <td>{{ series[0]?.channel }}</td>
      <td>{{ series[0]?.seasons }}</td>
    </tr>
    <tr>
      <td>{{ series[1]?.id }}</td>
      <td>{{ series[1]?.name }}</td>
      <td>{{ series[1]?.channel }}</td>
      <td>{{ series[1]?.seasons }}</td>
    </tr>
    <tr>
      <td>{{ series[2]?.id }}</td>
      <td>{{ series[2]?.name }}</td>
      <td>{{ series[2]?.channel }}</td>
      <td>{{ series[2]?.seasons }}</td>
    </tr>
    <tr>
      <td>{{ series[3]?.id }}</td>
      <td>{{ series[3]?.name }}</td>
      <td>{{ series[3]?.channel }}</td>
      <td>{{ series[3]?.seasons }}</td>
    </tr>
    <tr>
      <td>{{ series[4]?.id }}</td>
      <td>{{ series[4]?.name }}</td>
      <td>{{ series[4]?.channel }}</td>
      <td>{{ series[4]?.seasons }}</td>
    </tr>
    <tr>
      <td>{{ series[5]?.id }}</td>
      <td>{{ series[5]?.name }}</td>
      <td>{{ series[5]?.channel }}</td>
      <td>{{ series[5]?.seasons }}</td>
    </tr>
  </tbody>
</table>

<p><strong>Average Seasons:</strong> {{ averageSeasons }}</p>